<h4>
   Add new Holiday
</h4>
<div class="well">
  <a href="#addHoliday" data-toggle="modal" class="btn btn-success">Add Holiday</a>
  <div style="float: right;">
  </div>
</div>

<h4 style="margin-top: 50px;">
   List of Holidays
</h4>

<div id="holiday-container">
  <%= render :partial => "holidays/index_list", :locals => {:holidays => @holidays} %>
</div>

<% content_for :popup do %>
  <%= render :partial => "holidays/form" %>
<% end %>