<p>
  <span class="label label-info">Info</span> Add new Holiday
</p>
<div class="well">
  <a href="#addHoliday" data-toggle="modal" class="btn btn-success">Add Holiday</a>
  <div style="float: right;">
  </div>
</div>

<p style="margin-top: 50px;">
  <span class="label label-info">Info</span> List of Holidays
</p>

<div id="holiday-container">
  <%= render :partial => "holidays/index_list", :locals => {:holidays => @holidays} %>
</div>

<% content_for :popup do %>
  <%= render :partial => "holidays/form" %>
<% end %>