<div style = "float:right"> 
	<h2>Year 2013</h2>
    <table class="table table-striped">
		<thead>
			<tr>
				<th> Month </th>
				<th> No.of Working days </th>
				<th> Amount (in Rs) </th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td> January </td>
				<td> 22 </td>
				<td> 990 </td>
			</tr>
			<tr>	
				<td> February </td>
				<td> 20 </td>
				<td> 900 </td>
			</tr>
			<tr>
				<td> March </td>
				<td> 19 </td>
				<td> 855 </td>
			</tr>
			<tr>
				<td> April </td>
				<td> 21 </td>
				<td> 945 </td>
			</tr>
			<tr>
				<td> May </td>
				<td> 23 </td>
				<td> 1035 </td>
			</tr>
			<tr>
				<td> June </td>
				<td> 20 </td>
				<td> 900 </td>
			</tr>
			<tr>
				<td> July </td>
				<td> 23 </td>
				<td> 1035 </td>
			</tr>
			<tr>
				<td> August </td>
				<td> 21 </td>
				<td> 945 </td>
			</tr>
			<tr>
				<td> September </td>
				<td> 20 </td>
				<td> 900 </td>
			</tr>
			<tr>
				<td> October </td>
				<td> 21 </td>
				<td> 945 </td>
			</tr>
			<tr>
				<td> November </td>
				<td> 21 </td>
				<td> 945 </td>
			</tr>
			<tr>
				<td> December </td>
				<td> 21 </td>
				<td> 945 </td>
			</tr>
		</tbody>
	</table>
</div>
<div class = "container" >
<h4> List of holidays 2013 ></h4>
<ul style = "list-style-type:none" />
<li> January 14 - Pongal </li>
<li> January 26 - Republic day </li>
<li> March 27 - Holi </li>
<li> March 29 - Good Friday </li>
<li> April 11 - Ugadi </li>
<li> August 15 - Independence Day </li>
<li> September 9 - Vinayakar chathurthi </li>
<li> October 2 - Gandhi Jayanthi </li>
<li> October 14 - Vijayadasami </li>
<li> November 3 - Deepavali </li>
<li> December 25 - Christmas </li>
</div>