<% if !current_user.has_currently_subscribed? %>
  <h6> You can borrow any of the available meals transferred by the subscribers </h6>
<% end %>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Lender</th>
      <th>Booking Status</th> 
      <th>Borrowed By </th>  
    </tr>
  </thead>
  <% DailyTransfer.todays_transfer.order("booking_status").all.each do |t| %>
    <tr>
      <td><%= t.user.fullname %></td>
      <% if t.booking_status == false %>
        <td> Available </td>
        <% if current_user.has_currently_subscribed?  %>
          <td> You cannot Borrow </td>
        <% elsif current_user.has_borrowed_today? %>
          <td> You have already Borrowed</td>
        <% else %>
          <td><%= form_tag transfer_path(t), :method => :put, :class => "form-horizontal modal-form", :remote => true do %>
              <%= submit_tag "Borrow", :class => "btn btn-success",:id=> "borrow-submit"%> 
              <i id="borrow-spinner-button" class="icon-spinner icon-spin" style="display: none;"></i>
              <% end %>
          </td>
        <% end %>
      <% else %>
        <td> Booked </td>
        <td> <%= t.borrower_name %>
          <% if t.payment_status == false %>
            (Not Paid) 
          <% else %> 
            (Paid) 
          <% end %> 
        </td>
      <% end %> 
    </tr>
  <% end %>
</table>
