<div class = "container" >
  <h4> Meals subscription status </h4>
  <div class = "well" id="subscription-container">
    <%= render :partial => "users/subscription_status" %>
  </div>
  <% if @current_subscription %>
    <div id="transfer-container">
      <%= render :partial => "users/transfer_details" %>
    </div>
  <% end %>
  <div class = "well" >
    <% if DailyTransfer.todays_transfer.empty? %>
      <h4>Sorry ! there are no transfers today </h4>
    <% else %>
      <div id="today_transfer" %>
        <%= render :partial => "users/todays_transfers" %>
      </div>
    <% end %>
  </div>
</div>