<div class = "well">
  <p style="margin-top: 50px;">
    List of all Subscriptions:
  </p>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Month</th>
        <th>Total Amount</th>
        <th>Payment status</th>
      </tr>
    </thead>
  <% current_user.subscriptions.all.each do |subs| %>
    <tr>
      <td><%= subs.subscription_type.month  %></td>
      <td><span class="WebRupee">Rs. </span><%= subs.total_amount%></td>
      <% if subs.payment_status == false %>
        <td> Not paid </td>
        <% else %>
        <td> Paid </td>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>