<div class = "container">
<h3> My Subscriptions </h3>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Month</th>
        <th>Total Amount</th>
        <th>Payment Status</th>
      </tr>
    </thead>
  <% current_user.subscriptions.all.each do |subs| %>
    <tr>
      <td><%= subs.subscription_type.month.strftime('%B %Y') %></td>
      <td><span>&#x20B9;</span><%= subs.total_amount%></td>
      <% if subs.payment_status == false %>
        <td> Not paid </td>
        <% else %>
        <td> Paid </td>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>