<div id="available-slots-container">
  <%= render :partial => "users/available_slots" %>
</div>
<div id="all-slots-container" style="display: none;"> 
  <%= render :partial => "users/todays_transfers" %>
</div>