<div id = "list">
<h5> Follow these simple steps to subscribe to our meals </h5>
<ol>
	<li> Click on the "Subscribe Now" link </li>
	<li> Choose the month </li>
	<li> Pay the subscription amount </li>
</ol>
<div>